html {
  font-size: 10px;
}

body {
  background: #111;
  font-family: Helvetica, sans-serif;
  font-weight: 100;
}

.dwatch {
  align-items: center;
  color: #ccc;
  display: flex;
  flex: 1;
  font-size: 8rem;
  height: 25vh;
  justify-content: center;
}

.awatch {
  align-items: center;
  display: flex;
  height: 75vh;
  justify-content: center;
}

.awatch__face {
  border: solid #ccc 3rem;
  border-radius: 50%;
  height: 30rem;
  width: 30rem;
}

.awatch__hand {
  height: 1rem;
  width: 15rem;
}