html {
  font-size: 10px;
}

body {
  background:#018DED url(http://unsplash.it/1920/1200?image=974);
  background-size:cover;
  font-family: Helvetica, sans-serif;
  font-weight: 100;
}

.dwatch {
  align-items: center;
  color: white;
  display: flex;
  flex: 1;
  font-size: 8rem;
  height: 25vh;
  justify-content: center;
}

.awatch {
      width: 30rem;
      height: 30rem;
      margin:5rem auto;
      position: relative;
      padding:2rem;
}

.awatch__face {
  border:2rem solid white;
  border-radius:50%;
  position: relative;
  width: 100%;
  height: 100%;
  /*transform: translateY(-.3rem); /* account for the height of the clock hands */
}

.awatch__hand {
      width:16.5rem;
      height:.5rem;
      background:white;
      border-radius: .25rem;
      position: absolute;
      top:15rem;
      left: 13rem;
      transform: rotate(90deg);
      transform-origin: 2rem;
}