body {
  background: #018DED url('./background.jpg');
  background-size: cover;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

.canvas {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  position: relative;
  width: 100vw;
}

.ball {
  background: white;
  border-radius: 50%;
  height: 12px;
  position: absolute;
  width: 12px;
}

.paddle {
  background: white;
  border-radius: 6px;
  height: 12px;
  position: absolute;
  width: 80px;
}

.block {
  background: white;
  border: black 1px solid;
  height: 12px;
  position: absolute;
  width: 40px;
}

.block--hidden {
  visibility: hidden;
}

.scoreboard {
  color: white;
  position: absolute;
  font-size: 1.3rem;
  font-weight: 100;
  right: 0;
}

.score-display, .up-display {
  margin: .3rem .3rem 0 0;
  position: relative;
  text-align: right;
}

.gameover {
  color: white;
  font-size: .8rem;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.gameover--active {
  visibility: visible;
}